RewriteEngine On
DirectoryIndex index.php
RewriteBase /Progetti/content_manager_better/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]


